In [2]:
people={'first':['saran','arun','arjun'],
       'second':['bhaskar','pvr','tvm'],
       'email':['saranbhaskarpvr@gmail.com','arunpvr@gmail.com','arjuntvm@gmail.com']}

In [3]:
import pandas as pd
df=pd.DataFrame(people)

In [4]:
df

   first   second                      email
0  saran  bhaskar  saranbhaskarpvr@gmail.com
1   arun      pvr          arunpvr@gmail.com
2  arjun      tvm         arjuntvm@gmail.com

In [22]:
df.sort_values(by=['first'],ascending=[True])

   first   second                      email
2  arjun      tvm         arjuntvm@gmail.com
1   arun      pvr          arunpvr@gmail.com
0  saran  bhaskar  saranbhaskarpvr@gmail.com

In [19]:
df.sort_values(by=['second','first'],ascending=[False,True],inplace=True)
df

   first   second                      email
2  arjun      tvm         arjuntvm@gmail.com
1   arun      pvr          arunpvr@gmail.com
0  saran  bhaskar  saranbhaskarpvr@gmail.com